.back {
  background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}
.back__icon {
  fill: white;
  width: 17px;
  height: 17px;
}