.app {
  display: grid;
  grid-template-columns: 250px 1fr;
}
.main {
  background-image: linear-gradient(rgba(0,0,0,.8),#121212);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  height: calc(100vh - 80px);
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.main::-webkit-scrollbar {
  display: none;
}

@media (max-width: 578px) {
  .app {
    grid-template-columns: 1fr;
  } 
  .main {
    padding: 40px 20px;
    height: fit-content;
  }
}
