@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&display=swap');

:root {
  --green: #1db954;
  --grey: #b3b3b3;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: white;
  height: 100vh;
}
a {
  text-decoration: none;
}

.title {
  font-size: 32px;
  margin: 0;
}
.subtitle {
  font-size: 24px;
  margin: 0;
}
